obj
bin
Bin
_ReSharper.*
*.csproj.user
*.dbproj.user
*.resharper.user
*.resharper
*.5.0.ReSharper.user
*.5.1.ReSharper.user
*.5.0.ReSharper
*.suo
*.cache
*~
*.swp
*.swo
*.orig
*.ReSharper.user
Coverage.Log
PrecompiledWeb
*.dbproj.user
local_properties.rb
artifacts
*.dbmdl
*.schemaview
